.App {
  text-align: center;
}

/* FONTS */

@font-face {
  font-family: "IBM";
  src: url("/public/fonts/IBM/IBMPlexSansArabic-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "IBM";
  src: url("/public/fonts/IBM/IBMPlexSansArabic-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "IBM";
  src: url("/public/fonts/IBM/IBMPlexSansArabic-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "IBM";
  src: url("/public/fonts/IBM/IBMPlexSansArabic-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "IBM";
  src: url("/public/fonts/IBM/IBMPlexSansArabic-Bold.ttf");
  font-weight: 700;
}

#outlined-basic{
  /* flex: 3; */
  min-width: 15rem;
  font-size: 18px;
}
#show-weather-btn{
  /* flex: 1; */
  min-width: 9rem;
  font-size: 16px;
}
